<template v-if="$can('permission_view' || 'cashier_view')">

    <footer class="sticky-footer bg-white" >

        <div class="container my-auto">
            <div class="copyright text-center my-auto">
<!--                <span>Copyright &copy; Your Website 2020</span>-->
            </div>
        </div>

    </footer>

</template>

<script v-if="$can('permission_view')">
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
