<template>
    <div class="sidebar_auth">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" v-if="currentUser">
            <!-- Sidebar - Brand style="display: none;"-->
            <router-link :to="{ name: 'invoice' }" class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <img src="/img/vcy.png" alt="VCY Logo" style="width: 40%;">
<!--                    <div class="sidebar-brand-text"> VCY Marketing</div>-->

                </div>

            </router-link>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading" v-if="$can('user_view')">
                Admin
            </div>

            <router-link tag="li" :to="{ name: 'permission-table' }" class="nav-item" v-if="$can('permission_view')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Permissions</span></a>
            </router-link>

            <router-link tag="li" :to="{ name: 'role-table' }" class="nav-item" v-if="$can('role_view') && $can('permission_view')">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Roles</span></a>
            </router-link>

            <router-link tag="li" :to="{ name: 'users-table' }" class="nav-item" v-if="$can('user_view')">
                <a class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <span>Users</span></a>
            </router-link>

            <div class="sidebar-heading" v-if="$can('user_view') || $can('tile_view')">
               Tile Admin
            </div>
            <router-link tag="li" :to="{ name: 'tiles-table' }" class="nav-item" v-if="$can('user_view')  || $can('tile_view')">
                <a class="nav-link">
                    <i class="fas fa-table"></i>
                    <span>Tiles</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'batch-table' }" class="nav-item" v-if="$can('user_view')  || $can('tile_view')">
                <a class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <span>Batch</span></a>
            </router-link>

            <div class="sidebar-heading" v-if="$can('user_view') || $can('tile_view')">
                Maintenance
            </div>
            <router-link tag="li" :to="{ name: 'brand-table' }" class="nav-item" v-if="$can('user_view') || $can('brand_view')">
                <a class="nav-link">
                    <i class="fab fa-bandcamp"></i>
                    <span>Brand</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'importers-table' }" class="nav-item" v-if="$can('user_view') || $can('importers_view')">
                <a class="nav-link">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Importers</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'manu-table' }" class="nav-item" v-if="$can('user_view') || $can('manu_view') ">
                <a class="nav-link">
                    <i class="fas fa-industry"></i>
                    <span>Manufactures</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'country-table' }" class="nav-item" v-if="$can('user_view') || $can('country_of_origin_view')">
                <a class="nav-link">
                    <i class="fas fa-globe-asia"></i>
                    <span>Country of Origin</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'nominal-table' }" class="nav-item" v-if="$can('user_view') || $can('nominal_view')">
                <a class="nav-link">
                    <i class="fas fa-ruler-combined"></i>
                    <span>Nominal Size</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'thickness-table' }" class="nav-item" v-if="$can('user_view') || $can('thickness_view')">
                <a class="nav-link">
                    <i class="fas fa-align-center"></i>
                    <span>Thickness</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'water-table' }" class="nav-item" v-if="$can('user_view') || $can('water_view')">
                <a class="nav-link">
                    <i class="fas fa-water"></i>
                    <span>Water Absorption Range</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'shaping-table' }" class="nav-item" v-if="$can('user_view') || $can('method_view')">
                <a class="nav-link">
                    <i class="fas fa-shapes"></i>
                    <span>Method of Shaping</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'nature-table' }" class="nav-item" v-if="$can('user_view') || $can('nature_view')">
                <a class="nav-link">
                    <i class="fas fa-tree"></i>
                    <span>Nature of Surface & Used</span></a>
            </router-link>
            <router-link tag="li" :to="{ name: 'tiles-per-pack-table' }" class="nav-item" v-if="$can('user_view') || $can('tile_per_pack_view')">
                <a class="nav-link">
                    <i class="fas fa-cubes"></i>
                    <span>Tiles Per Pack</span></a>
            </router-link>
            <!-- Sidebar Toggler (Sidebar) -->
<!--            <div class="text-center d-none d-md-inline">-->
<!--                <button class="rounded-circle border-0" id="sidebarToggle" @click="toggleSideBar"></button>-->
<!--            </div>-->

        </ul>
    </div>
</template>

<script>
// import $ from 'jquery';

export default {
    name: "Sidebar",
    mounted() {
        this.toggleSideBar();
    },
    methods: {
        toggleSideBar() {
            $("body").toggleClass("sidebar-toggled");
            $("#accordionSidebar").toggleClass("toggled");
        },
    },
    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        }
    },
}
</script>

<style scoped>
.sidebar_auth{
    background: #234bbf;
}
</style>
