<template>

    <div>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">Batch Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-1">
                                <label>Per Page</label>
                                <select class="form-control" v-model="currentPage" @change="selectPageNumber(currentPage)">
                                    <option v-for="perPage in perPage" :value="perPage" :selected="currentPage===perPage">{{ perPage
                                        }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-3" style="margin-top: 33px;">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon3">Search</span>
                                    </div>
                                    <input type="text" v-model="search" @keyup="index"
                                           class="form-control"
                                           placeholder="Search Here" :disabled=isSearch>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top: 33px;margin-left: -5px;">
                                <select v-model="filterSearch" class="form-control" @change="isSearchFilter">
                                    <option disabled value="">Please select one</option>
                                    <option value="batchNumber">Batch Number</option>
                                    <option value="EAN11">Barcode</option>
                                    <option value="MATNR">Item Code</option>
                                    <option value="MAKTX">Material Description</option>
                                    <option value="code">Code</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead class="thead-light">
                                <tr>
                                    <th style="background-color: #007bff; color:white;">
                                        Batch Number
                                    </th>
                                    <th style="background-color: #007bff; color:white;">
                                       Barcode
                                    </th>
                                    <th style="background-color: #007bff; color:white;">
                                        Item Code
                                    </th>
                                    <th style="background-color: #007bff; color:white;">
                                        Material Description
                                    </th>
                                    <th style="background-color: #007bff; color:white;">
                                        Code
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="batch in batches.data" :key="batch.id">
                                    <td> {{ batch.number }} </td>
                                    <td> {{ batch.EAN11 }}</td>
                                    <td> {{ batch.MATNR }}</td>
                                    <td> {{ batch.MAKTX }}</td>
                                    <td> {{ batch.code }}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="float-left">Showing {{meta.from || 0}} to {{meta.to || 0}} of {{meta.total || 0}} entries</p>
                        <pagination class="float-right" :data="batches" @pagination-change-page="index" :limit="5">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import 'vue-promise-btn/dist/vue-promise-btn.css'

export default {
    name: "BrandTable",
    data() {
        return {
            CreateBrandModal: false,
            xml_exports: [],
            searchTerm: '',
            showModal: false,
            form: {
                brand: '',
                photo:'',
            },
            search: '',
            isSearch: true,
            perPage: ['10', '50', '100'],
            currentPage: '10',
            currentSort: 'created_at',
            currentSortDir: 'desc',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {},
            errors: {},
            batches: {},
            showCreate: false,
            showEdit: false,
            aSlash: '/',
            photoClick:'',
            filterSearch:'',
        }
    },
    created() {
        this.index();
        Reload.$on('AfterCreated', () => {
            this.index();
        });
    },
    methods: {
        isSearchFilter(){
          this.isSearch = false;
        },
        cancelCreate() {
            this.showCreate = false;
        },
        cancelEdit() {
            this.showEdit = false;
        },
        async updateBrand(id) {
            console.log(id);
            this.showCreate = false;
            await axios.get('/api/brand/' + id)
                .then(response => {
                    this.form = response.data;
                    console.log(this.form);
                    this.showEdit = true;
                });
        },
        async updateBrandWithData() {
            await axios.patch('/api/brand-update/', this.form)
                .then(response => {
                  this.form = response.data;
                    if(response.data.status === "success"){
                        this.showEdit = false;
                        Reload.$emit('AfterCreated');
                    }

                });
        },
        openModal() {
            this.showEdit = false;
            this.showCreate = true;
            this.form.brand = '';
            this.form.photo = '';
            this.$refs.fileImage.value = '';
            // $('#brand').modal("show");
        },
        closeModal() {
            $('#brand').modal("hide");
            $('#brandEdit').modal('hide');
        },
        index(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = '/api/allBatch?page=' + page
                + '&search=' + this.search
                + '&sortby=' + this.currentSort
                + '&sortdir=' + this.currentSortDir
                + '&currentpage=' + this.currentPage
                + '&filterSearch=' + this.filterSearch;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    console.log(response);
                    this.batches = response.data;
                    this.meta.total = response.data.meta.total;
                    this.meta.from = response.data.meta.from;
                    this.meta.to = response.data.meta.to;
                });

        },
        sort(s) {

            if (s === this.currentSort) {
                this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                if (this.currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            this.currentSort = s;
            this.index();
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.index();
        },
        async createBrand() {
            console.log(this.form)
            await axios.post('/api/brand', this.form)
                .then((response) => {
                    console.log(response.data.status)
                    if (response.data.status === "success") {
                        console.log('test');
                        this.showEdit = false;
                        this.showCreate = true;
                        this.form.brand = '';
                        this.form.photo = '';
                        this.$refs.fileImage.value = '';
                        Reload.$emit('AfterCreated');
                        Notification.success();
                    }
                }).catch(error => {
                    // code here when an upload is not valid
                    this.uploading = false
                    this.error = error.response.data
                    this.$swal({
                        icon: 'warning',
                        title: 'Please try again',
                        text: 'Make sure to fill all the required input fields and check your image is "JPEG" Format',
                        confirmButtonText: 'Ok'
                    });
                });

                // .catch((error ) => {
                //     this.errors = error.response.data.errors
                //     // console.log(error.response.data.errors.photo[0]);
                //     this.alertSwal(error, '', 'warning', '');
                // });
        },
        deleteBrand(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.delete('/api/brand/' + id)
                        .then(() => {
                            this.batches.data = this.batches.data.filter(brand => {
                                return brand.id != id
                            })
                            Reload.$emit('AfterCreated');
                        })
                        .catch(() => {
                            // this.$router.push({name: 'employee'})
                        })
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })

        },
        alertSwal(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },

    },


}
</script>


<style scoped>
.input-group-field {
    background: #19a7d5 !important;
    color: #fff !important;
}
#photo_view{
    height: 60px;
    width: 80px;
}
#photo_clicked {
    width: 288px;
    height: 192px;
}
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 17% !important;
    }
}
</style>
