<template>

    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6 my-3">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">Brands Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label style="display: inline-block">Per Page</label>
                                <select class="form-control" v-model="currentPage"
                                        @change="selectPageNumber(currentPage)" style="display: inline-block">
                                    <option v-for="perPage in perPage" :value="perPage"
                                            :selected="currentPage===perPage">{{
                                            perPage
                                        }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success" v-if="!showCreate" @click="openModal"
                                        style="margin-top: 33px;">Create Brand <i class="fas fa-plus-circle"></i>
                                </button>
                            </div>
                            <div class="col-md-5" style="margin-top: 33px;
                                         margin-left: 130px;">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon3">Search</span>
                                    </div>

                                    <input type="text" v-model="search" @keyup="index"
                                           class="form-control"
                                           placeholder="Search Here" @click="isSearch = true">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered" id="dataTable"
                                   width="100%" cellspacing="0">
                                <thead class="thead-light">
                                <tr>
                                    <th style="background-color: #007bff; color:white; text-align: center">Brand</th>
                                    <th style="background-color: #007bff; color:white; text-align: center">Photo</th>
                                    <th style="background-color: #007bff; color:white; text-align: center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="brand in tileBrands.data" :key="brand.id">
                                    <td style="text-align: center"> {{ brand.brand_name }}</td>
                                    <td style="text-align: center">
                                        <a v-promise-btn @click.prevent="clickImage(brand.id)"><img :src="'/'+brand.photo" id="photo_view"></a></td>
                                    <td style="text-align: center">
                                        <a v-promise-btn @click.prevent="updateBrand(brand.id)" class="btn btn-sm btn-primary">
                                            <font
                                                color="#ffffff">Edit</font>
                                        </a>

                                        <a @click="deleteBrand(brand.id)" class="btn btn-sm btn-danger"><font
                                            color="#ffffff">Delete</font></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="float-left">Showing {{ meta.from || 0 }} to {{ meta.to || 0 }} of
                            {{ meta.total || 0 }} entries</p>
                        <pagination class="float-right" :data="tileBrands" @pagination-change-page="index" :limit="5">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>

            <transition name="fade">
                <div class="col-md-12 col-sm-12 col-lg-6 my-3" v-show="showCreate">
                    <div class="card">
                        <form v-promise-btn="{action: 'submit'}" @submit.prevent="createBrand" enctype="multipart/form-data">
                            <div class="card-header card-header-primary card-header-icon">
                                <h4 class="m-0 font-weight-bold text-primary">Create</h4>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <!--                                    <label class="col-form-label text-gray-900">Brand</label>-->
                                        <h6 class="col-form-h6 text-gray-900 mb-3">Brand</h6>
                                        <input type="text" v-model="form.brand"
                                               class="form-control"
                                               style="width: 450px;"
                                               placeholder="Enter a brand" required>
                                        <small class="text-danger" v-if="errors.brand"> {{ errors.brand[0] }} </small>
                                    </div>
                                    <div class="form-group">
                                        <h6 class="col-form-h6 text-gray-900 mb-3">Photo</h6>
                                        <input type="file" class="form-control" id="upload-file"
                                               @change="onFileSelected"
                                              style="width: 450px;" required ref="fileImage" />
                                        <small class="text-danger" v-if="errors.photo"> {{ errors.photo[0] }} </small>
                                    </div>
                                    <div class="form-group">
                                        <img :src="form.photo" style="height: 192px; width: 288px;" v-show="form.photo !== ''">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-success">Submit</button>
                                <button type="button" class="btn btn-fill btn-danger" @click="cancelCreate">Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </transition>

            <transition name="fade">
                <div class="col-md-12 col-sm-12 col-lg-6 my-3" v-show="showEdit">
                    <div class="card">
                        <form v-promise-btn="{action: 'submit'}" @submit.prevent="updateBrandWithData">
                            <div class="card-header card-header-primary card-header-icon">
                                <h4 class="m-0 font-weight-bold text-primary">Edit</h4>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <!--                                    <label class="col-form-label text-gray-900">Brand</label>-->
                                        <h6 class="col-form-h6 text-gray-900 mb-3">Brand</h6>
                                        <input type="text" v-model="form.brand_name"
                                               class="form-control"
                                               style="width: 450px;"
                                               placeholder="Enter a brand" required>
                                        <small class="text-danger" v-if="errors.brand"> {{ errors.brand[0] }} </small>
                                    </div>
                                    <div class="form-group">
                                        <h6 class="col-form-h6 text-gray-900 mb-3">Photo</h6>
                                        <input type="file" class="form-control" id="upload-file2"
                                               @change="onFileSelected"
                                               style="width: 450px;" required />
                                        <small class="text-danger" v-if="errors.photo"> {{ errors.photo[0] }} </small>
                                    </div>
                                    <div class="form-group">
                                        <img :src="aSlash+form.photo" style="height: 192px; width: 288px;">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-success">Submit</button>
                                <button type="button" class="btn btn-fill btn-danger" @click="cancelEdit">Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </transition>
        </div>

        <!-- Modal Image-->
        <div class="modal fade" id="addNew1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img :src="aSlash+photoClick" id="photo_clicked">
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Create-->
        <div class="modal fade" id="brand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="m-0 font-weight-bold text-primary">Create Brand</h5>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-field" id="basic-addon1">Brand :</span>
                            </div>

                            <input type="text" v-model="form.brand"
                                   class="form-control"
                                   style="width: 250px;"
                                   placeholder="Search Here">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" @click="closeModal">Close</button>
                        <button type="button" class="btn btn-primary" @click="createBrand">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Edit-->
        <div class="modal fade" id="brandEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="m-0 font-weight-bold text-primary">Edit Brand</h5>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-field" id="basic-addon2">Search</span>
                            </div>

                            <input type="text" v-model="form.brand_name"
                                   class="form-control"
                                   style="width: 250px;"
                                   placeholder="Search Here" @click="isSearch = true">
                        </div>
                        <div class="form-group">
                            <h6 class="col-form-h6 text-gray-900 mb-3">Photo</h6>
                            <input type="file" class="form-control" id="upload-file1"
                                   @change="onFileSelected"
                                   style="width: 450px;" required/>
                            <small class="text-danger" v-if="errors.photo"> {{ errors.photo[0] }} </small>
                        </div>
                        <div class="form-group">
                            <img :src="aSlash+form.photo" style="height: 192px; width: 288px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="closeModal">Close</button>
                        <button type="button" class="btn btn-primary" @click.prevent="updateBrandWithData">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import 'vue-promise-btn/dist/vue-promise-btn.css'

export default {
    name: "BrandTable",
    data() {
        return {
            CreateBrandModal: false,
            xml_exports: [],
            searchTerm: '',
            showModal: false,
            form: {
                brand: '',
                photo:'',
                brand_name:'',
            },
            search: '',
            isSearch: false,
            perPage: ['10', '50', '100'],
            currentPage: '10',
            currentSort: 'created_at',
            currentSortDir: 'desc',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {},
            errors: {},
            tileBrands: {},
            showCreate: false,
            showEdit: false,
            aSlash: '/',
            photoClick:'',
        }
    },
    created() {
        this.index();
        Reload.$on('AfterCreated', () => {
            this.index();
        });
    },
    methods: {
       async clickImage(id){
            console.log(id);
           await axios.get('api/click-image?id=' + id)
                .then(({data}) => {
                    this.photoClick = data.photo
                    $('#addNew1').modal('show');
                })
                .catch(error => this.errors = error.response.data.error)

        },
        onFileSelected(event){
            let file = event.target.files[0];
            if (file.size > 52428800)
            {
                //50MB MAX https://convertlive.com/u/convert/megabytes/to/bytes#50
                Notification.image_validation()
            }else{
                let reader = new FileReader();
                reader.onload = event =>{
                    this.form.photo = event.target.result
                    console.log(event.target.result);
                };
                reader.readAsDataURL(file);
            }

        },
        cancelCreate() {
            this.showCreate = false;
        },
        cancelEdit() {
            this.showEdit = false;
        },
        async updateBrand(id) {
            console.log(id);
            this.showCreate = false;
            await axios.get('/api/brand/' + id)
                .then(response => {
                    this.form = response.data;
                    console.log(this.form);
                    this.showEdit = true;
                });
        },
        async updateBrandWithData() {
            await axios.patch('/api/brand-update/', this.form)
                .then(response => {
                  this.form = response.data;
                    if(response.data.status === "success"){
                        this.showEdit = false;
                        Reload.$emit('AfterCreated');
                    }

                });
        },
        openModal() {
            this.showEdit = false;
            this.showCreate = true;
            this.form.brand = '';
            this.form.photo = '';
            this.$refs.fileImage.value = '';
            // $('#brand').modal("show");
        },
        closeModal() {
            $('#brand').modal("hide");
            $('#brandEdit').modal('hide');
        },
        index(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = '/api/brand?page=' + page + '&search='
                + this.search + '&sortby=' + this.currentSort
                + '&sortdir=' + this.currentSortDir
                + '&currentpage=' + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    console.log(response);
                    this.tileBrands = response.data;
                    this.meta.total = response.data.meta.total;
                    this.meta.from = response.data.meta.from;
                    this.meta.to = response.data.meta.to;
                });

        },
        sort(s) {

            if (s === this.currentSort) {
                this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                if (this.currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            this.currentSort = s;
            this.index();
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.index();
        },
        async createBrand() {
            console.log(this.form)
            await axios.post('/api/brand', this.form)
                .then((response) => {
                    console.log(response.data.status)
                    if (response.data.status === "success") {
                        console.log('test');
                        this.showEdit = false;
                        this.showCreate = true;
                        this.form.brand = '';
                        this.form.photo = '';
                        this.$refs.fileImage.value = '';
                        Reload.$emit('AfterCreated');
                        Notification.success();
                    }
                }).catch(error => {
                    // code here when an upload is not valid
                    this.uploading = false
                    this.error = error.response.data
                    this.$swal({
                        icon: 'warning',
                        title: 'Please try again',
                        text: 'Make sure to fill all the required input fields and check your image is "JPEG" or "PNG" Format',
                        confirmButtonText: 'Ok'
                    });
                });

                // .catch((error ) => {
                //     this.errors = error.response.data.errors
                //     // console.log(error.response.data.errors.photo[0]);
                //     this.alertSwal(error, '', 'warning', '');
                // });
        },
        deleteBrand(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.delete('/api/brand/' + id)
                        .then(() => {
                            this.tileBrands.data = this.tileBrands.data.filter(brand => {
                                return brand.id != id
                            })
                            Reload.$emit('AfterCreated');
                        })
                        .catch(() => {
                            // this.$router.push({name: 'employee'})
                        })
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })

        },
        alertSwal(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },

    },


}
</script>


<style scoped>
.input-group-field {
    background: #19a7d5 !important;
    color: #fff !important;
}
#photo_view{
    height: 60px;
    width: 80px;
}
#photo_clicked {
    width: 288px;
    height: 192px;
}
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 17% !important;
    }
}
</style>
