<template>

    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6 my-3">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">Method of Shaping Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label style="display: inline-block">Per Page</label>
                                <select class="form-control" v-model="currentPage" @change="selectPageNumber(currentPage)" style="display: inline-block">
                                    <option v-for="perPage in perPage" :value="perPage" :selected="currentPage===perPage">{{ perPage
                                        }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button v-promise-btn class="btn btn-success" v-if="!showCreate" @click.prevent="openModal"
                                        style="margin-top: 33px;">Create Shaping <i class="fas fa-plus-circle"></i>
                                </button>
                            </div>
                            <div class="col-md-5" style="margin-top: 33px;
                                         margin-left: 130px;">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon3">Search</span>
                                    </div>

                                    <input type="text" v-model="search" @keyup="index"
                                           class="form-control"
                                           placeholder="Search Here" @click="isSearch = true">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead class="thead-light">
                                <tr>
                                    <th style="background-color: #007bff; color:white; text-align: center">Method of Shaping</th>
                                    <th style="background-color: #007bff; color:white; text-align: center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="shape in shapes.data" :key="shape.id">
                                    <td style="text-align: center"> {{ shape.shaping }}</td>
                                    <td style="text-align: center">
                                        <a v-promise-btn @click="updateBrand(shape.id)" class="btn btn-sm btn-primary">
                                            <font
                                                color="#ffffff">Edit</font>
                                        </a>

                                        <a @click="deleteBrand(shape.id)" class="btn btn-sm btn-danger"><font
                                            color="#ffffff">Delete</font></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="float-left">Showing {{ meta.from || 0 }} to {{ meta.to || 0 }} of
                            {{ meta.total || 0 }} entries</p>
                        <pagination class="float-right" :data="shapes" @pagination-change-page="index" :limit="5">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>

            </div>
            <transition name="fade">
                <div class="col-md-12 col-sm-12 col-lg-6 my-3" v-show="showCreate">
                    <div class="card">
                        <form v-promise-btn="{action: 'submit'}" @submit.prevent="createBrand">
                            <div class="card-header card-header-primary card-header-icon">
                                <h4 class="m-0 font-weight-bold text-primary">Create</h4>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <h6 class="col-form-h6 text-gray-900 mb-3">Shaping</h6>
                                        <input type="text" v-model="form.shaping"
                                               class="form-control"
                                               style="width: 450px;"
                                               placeholder="Enter a Method of Shaping">
                                        <small class="text-danger" v-if="errors.brand"> {{ errors.brand[0] }} </small>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-success">Submit</button>
                                <button type="button" class="btn btn-fill btn-danger" @click="cancelCreate">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </transition>

            <transition name="fade">
                <div class="col-md-12 col-sm-12 col-lg-6 my-3" v-show="showEdit">
                    <div class="card">
                        <form v-promise-btn="{action: 'submit'}" @submit.prevent="updateBrandWithData">
                            <div class="card-header card-header-primary card-header-icon">
                                <h4 class="m-0 font-weight-bold text-primary">Edit</h4>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <h6 class="col-form-h6 text-gray-900 mb-3">Shaping</h6>
                                        <input type="text" v-model="form.shaping"
                                               class="form-control"
                                               style="width: 450px;"
                                               placeholder="Enter a Method of Shaping">
                                        <small class="text-danger" v-if="errors.brand"> {{ errors.brand[0] }} </small>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-success">Submit</button>
                                <button type="button" class="btn btn-fill btn-danger" @click="cancelEdit">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </transition>
        </div>
    </div>

</template>

<script>
import 'vue-promise-btn/dist/vue-promise-btn.css'
export default {
    name:"BrandTable",
    data() {
        return {
            CreateBrandModal:false,
            xml_exports: [],
            searchTerm: '',
            showModal: false,
            form:{
                shaping:'',
            },
            search:'',
            isSearch: false,
            perPage: ['10', '50', '100'],
            currentPage: '10',
            currentSort: 'created_at',
            currentSortDir: 'desc',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {},
            errors:{},
            shapes:{},
            showCreate:false,
            showEdit:false,
        }
    },
    created() {
        this.index();
        Reload.$on('AfterCreated', () => {
            this.index();
        });
    },

    methods: {
        cancelCreate(){
            this.showCreate = false;
        },
        cancelEdit(){
            this.showEdit = false;
        },
        async updateBrand(id){
            console.log(id);
            this.showCreate = false;
            await axios.get('/api/method/' + id)
                .then(response=> {
                    this.form = response.data;
                    console.log(this.form);
                    this.showEdit = true;
                });
        },
        async updateBrandWithData(){
            await axios.patch('/api/method-update/', this.form)
                .then(response=> {
                    this.form = response.data;
                    if(response.data.status === "success"){
                        this.showEdit = false;
                        Reload.$emit('AfterCreated');
                    }

                });
        },
        openModal(){
            this.showEdit = false;
            this.form.shaping = '';
            this.showCreate = true;
            // this.form.shaping = '';
            // return new Promise((res, rej) => {
            //     res(this.showCreate = true);
            //     this.form.shaping = '';
            //     rej( this.showEdit = false);
            // })
        },
        index(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = '/api/method?page=' + page + '&search='
                + this.search + '&sortby=' + this.currentSort
                + '&sortdir=' + this.currentSortDir
                + '&currentpage=' + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    console.log(response);
                    this.shapes = response.data;
                    this.meta.total = response.data.meta.total;
                    this.meta.from = response.data.meta.from;
                    this.meta.to = response.data.meta.to;
                });

        },
        sort(s) {

            if (s === this.currentSort) {
                this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                if (this.currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            this.currentSort = s;
            this.index();
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.index();
        },
        async createBrand(){
            console.log(this.form)
            await axios.post('/api/method', this.form)
                .then((response) => {
                    console.log(response.data.status)
                    if(response.data.status === "success"){
                        console.log('test');
                        $('#brand').modal('hide');
                        this.form.shaping = '';
                        Reload.$emit('AfterCreated');
                        this.showEdit = false;
                        Notification.success();
                    }
                }).catch((error) => {
                    this.alertSwal(error, '', 'warning', '');
                });
        },
       async deleteBrand(id) {
           await Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                     axios.delete('/api/method/' + id)
                        .then(() => {
                            this.shapes.data = this.shapes.data.filter(brand => {
                                return brand.id != id
                            })
                            Reload.$emit('AfterCreated');
                        })
                        .catch(() => {
                            // this.$router.push({name: 'employee'})
                        })
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })

        },
        alertSwal(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },

    },


}
</script>


<style type="text/css" scoped>

</style>
